
.content{
    background-color: rgba(48, 173, 138, 0.3); 
    min-height: 250px;
    border-radius: 5%;
}
h2 {
    color: white;
}
h2 b {
    Color: red;
}
.login {
    position: fixed;
    top : 10px;
    right: 10px;
}
.login a {
    color: white;
    font-weight: 600;
}
body {
    background-image: url('../../uploads/theFristOne.jpg') ;
    background-size: cover;
}